---
import { Icon } from 'astro-icon/components';
import { NAV, SITE } from '../config';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header
    class='shrink container flex flex-wrap items-center justify-between px-2 py-8'
>
    <a
        href='/'
        class='text-xl sm:text-2xl uppercase whitespace-nowrap inline-block'
        >{SITE.title}</a
    >

    <!-- menu toggle for small screens -->
    <input type='checkbox' id='toggle-menu' class='hidden peer' />
    <label
        for='toggle-menu'
        class='block peer-checked:hidden sm:!hidden cursor-pointer'
    >
        <Icon name='list' size={28} />
    </label>
    <label
        for='toggle-menu'
        class='hidden peer-checked:block sm:!hidden cursor-pointer'
    >
        <Icon name='x' size={28} />
    </label>

    <!-- force flex layout to wrap onto a new row on small screens -->
    <div class='w-full block sm:hidden'></div>

    <nav class='grow hidden peer-checked:block sm:block'>
        <ul
            class='flex flex-col sm:flex-row sm:gap-6 items-center justify-center sm:justify-end pt-2 sm:pt-0'
        >
            {
                Object.values(NAV).map(({ path, title }) => (
                    <li class='h-10 sm:h-fit w-full sm:w-fit'>
                        <a
                            class:list={[
                                'block w-full h-full text-center transition flex items-center justify-center',
                                // apply padding + highlight background when hovering on small screens
                                'rounded-lg sm:rounded-none hover:bg-slate-200 hover:dark:bg-slate-600 sm:hover:!bg-transparent',
                                // underline when hovering on large screens
                                'sm:border-b-2 sm:hover:border-gray-700 sm:dark:hover:border-slate-600',
                                !Astro.url.pathname.startsWith(path)
                                    ? 'border-transparent'
                                    : '',
                                Astro.url.pathname.startsWith(path)
                                    ? 'border-gray-700 dark:border-slate-600'
                                    : '',
                            ]}
                            href={path}
                            title={title}
                        >
                            {title}
                        </a>
                    </li>
                ))
            }

            <li class='h-10 sm:h-fit w-full sm:w-fit'>
                <div
                    class:list={[
                        'block w-full sm:min-w-8 h-full text-center transition',
                        // apply padding + highlight background when hovering on small screens
                        'rounded-lg sm:rounded-none hover:bg-slate-200 hover:dark:bg-slate-600 sm:hover:!bg-transparent',
                    ]}
                >
                    <DarkModeToggle />
                </div>
            </li>
        </ul>
    </nav>
</header>

<script>
    import resolveConfig from 'tailwindcss/resolveConfig';
    import tailwindConfig from '../../tailwind.config.mjs';

    const config = resolveConfig(tailwindConfig);

    const breakpoint = config.theme.screens.sm;
    const toggleMenuInput =
        document.querySelector<HTMLInputElement>('#toggle-menu');

    if (toggleMenuInput) {
        window.matchMedia(`screen and (min-width: ${breakpoint})`).onchange = (
            event,
        ) => {
            if (event.matches) {
                // reset the mobile nav menu's "opened" state when moving to a larger screen
                toggleMenuInput.checked = false;
            }
        };
    }
</script>
